*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea/caches/
.idea/misc.xml
.idea/dictionaries/
.DS_Store
/build
/captures
.externalNativeBuild
disciple/bintrayUpload.gradle
disciple/project.properties
.idea/gradle.xml
disciple/deploy.gradle
gradle/wrapper/gradle-wrapper.properties
gradle.properties
